.container {
  color:aliceblue;
  background-color:black;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-top: 5%;
  font-family: monospace;
  font-size: large;
}

.title {
    
    color: #B2FF00;
    text-decoration: underline;
    width: 30%;
    border-radius: 10px;
}